/* App.css */

.navigation-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 2px solid #06e;
  border-left: 2px solid #06e;
}

.navbar-title {
  font-size: 32px;
  background-color: #f0f0f0;
}

.login-button {
  margin: 20px;
}

.header-section {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #06e;
  padding: 20px;
  margin-top: 0px;
  text-align: center;
}

.title {
  font-size: 36px;
  margin-bottom: 40px;
}

.voting-section {
  background-color: #e0e0f0;
  border-right: 2px solid #06e;
  border-left: 2px solid #06e;
  display: flex;
  text-align: center; /* Center the content */
  flex: 1 1 auto; /* Allow the section to grow and fill the available space */
  padding: 20px;
}

.voting-column {
  flex: 1;
  margin: 0 10px;
}

.pet-label h3 {
  text-align: center;
  font-size: 24px;
}

/* Updated button styling */
button {
  width: 180px; /* Set a fixed width for all buttons */
  padding: 10px;
  margin-bottom: 30px;
  background-color: #007bff;
  border: 1px solid #0056b3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Style for the footer */
.footer-section {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #06e;
  height: 80px;
  text-align: center;
  padding: 10px 0;
}

.footer-section p {
  font-size: 16px;
}

/* Style for the footer links */
.footer-section a {
  color: white;
  text-decoration: underline;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: lightblue; /* Change the link color to light blue on hover */
}

/* Style for the pet logos */
.pet-logo {
  width: 128px; /* Adjust the width as needed */
  height: 90px; /* Adjust the height as needed */
  margin-right: 10px; /* Add margin to separate the logo from the button */
  margin-bottom: 40px;
}
